*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  margin: 0;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-link {
  padding: 0.8rem 2rem;
  background: linear-gradient(90deg, #BBC6CD 9.22%, #91CCBB 100%);
  border-radius: 75px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.135em;
  color: #ffffff;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 10rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.artist {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: justify;
}

#genres {
  display: flex;
  gap: 1em;
  margin-top: 1rem;
}

.genre {
  text-transform: capitalize;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
}

.logo {
  width: 20%;
  max-width: 250px;
  margin-left: 80px;
}

.right-side img {
  height: 50px;
}

.music-player {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2.5rem;
}

#music-player {
  width: 30%;
}

.player-buttons {
  height: 54px;
  width: 54px;
  position: absolute;
  top: 190px;
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}



.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
