*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
}

a:visited {
  color: black;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  border-radius: 28px;
  background: #a3e4cb;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #a3e4cb;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

input {
  outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

#search-form {
  width: 180px;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

input[type=search] {
  background: #d6d6d6 url("./media/search.png") no-repeat 9px center;
  background-size: 20px;

  border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;

  -webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
  width: 100%;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}

#search-form input[type=search] {
	width: 38px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}

#search-form input[type=search]:hover {
	background-color: #fff;
}

#search-form input[type=search]:focus {
	width: 100%;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}

#search-form input:-moz-placeholder {
	color: transparent;
}

#search-form input::-webkit-input-placeholder {
	color: transparent;
}


.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 10rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.artist {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: justify;
}

#genres {
  display: flex;
  gap: 1em;
  margin-top: 1rem;
}

.genre {
  text-transform: capitalize;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
}

.logo {
  width: 20%;
  max-width: 250px;
  margin-left: 80px;
}

.right-side img {
  height: 50px;
}

.music-player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.9rem;
  width: 30%;
  max-width: 550px;
  min-height: 265px;
  padding: 1em 0;
  margin: 0 auto;
  border-radius: 3rem;
  /* background: linear-gradient(135deg, #f4f4f4, #adc7c1fb); */
  /* background: linear-gradient(215deg, #f4f4f4, #adc7c1fb); */
  background: linear-gradient(215deg, #e0e1e4, #c9e2e1fb);
  margin-top: 2rem;
}

#music-player {
  width: 30%;
}

.player-buttons {
  gap: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.curve-svg {
  position: absolute;
  height: 40%;
  top: 40%;
  transform: translateY(-50%);
  z-index: -100;
  width: 100%;
}

@keyframes fader {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.particles,
#particle1,
#particle2,
#particle3 {
  position: absolute;
}

#particle1 {
  top: 50px;
}

#particle2 {
  left: 900px;
  rotate: 45deg;
  /* -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s; */
}

#particle3 {
  scale: 35%;
  top: 200px;
}
