*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#audio-track-progress {
  display: flex;
  align-items: center;
  padding: 0 clamp(10px, 2vw, 2rem);
}

#current-track-time,
#track-duration {
  font-size: 0.9rem;
}

#temp-holder {
}

#progress-bar {
  width: 70%;
  margin: 0 auto;
  height: 3px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

#progress-line {
  position: absolute;
  height: 3px;
  border: 1px solid black;
  border-radius: 0.2em;
  left: 0;
  top: 0;
  width: 0%;
  background-color: black;
}

#progress-line::after {
  content: "";
  background-color: black;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.bg-img {
  display: inline;
  position: absolute;
  top: 5%;
  right: 5%;
  transform: translateX(-20%);
  height: 30vh;
  width: 30vw;
  background: #e3e3e333;
  filter: blur(5rem);
  z-index: -100;
}

#video-search-results {
  position: absolute;
  top: 20%;
  right: 5%;
  /* width: clamp(200px, 20vw, 700px); */
  height: 70%;
  width: 30%;
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.video-card {
  position: relative;
  text-align: center;
  color: white;
}

.video-card::after {
  box-shadow: inset 7px 7px 4rem #000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.video-title {
  position: absolute;
  top: 12px;
  left: 16px;
  margin: 0;
  padding: 0;
  font-size: clamp(10px, 1.2vw, 75px);
}

.video-duration,
.video-title {
  z-index: 10;
}

.video-thumbnail {
  width: 100%;
}

.video-duration {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: black;
  border-radius: 2px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.paused {
  display: none;
}

.first-line {
  margin-right: 8px;
}

#thumbnail {
  border-radius: 2rem;
  margin-inline: 1rem;
  animation: blurinf 3s infinite ease-in;
}

#title-track {
  letter-spacing: 1px;
  font-weight: 400;
  flex: 1;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  text-shadow: 0 0 0.3rem #0001;
}

.cta:before {
  content: "";
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  display: block;
  border-radius: 28px;
  background: #a3e4cb;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 0.3rem #7772;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta:hover:before {
  width: 100%;
  background: #a3e4cb;
}

.cta:active {
  transform: scale(0.96);
}

input {
  outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

#search-form {
  width: 180px;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

input[type="search"] {
  background: #fff url("./media/search.png") no-repeat 9px center;
  background-size: 20px;

  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

input[type="search"]:focus {
  width: 100%;
  background-color: #fff;
  border-color: #66cc75;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

#search-form input[type="search"] {
  width: 38px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}

#search-form input[type="search"]:hover {
  background-color: #fff;
}

#search-form input[type="search"]:focus {
  width: 100%;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

#search-form input:-moz-placeholder {
  color: transparent;
}

#search-form input::-webkit-input-placeholder {
  color: transparent;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 0.7;
}

header {
  display: flex;
  justify-content: space-between;
  padding: clamp(1rem, 3.5vw, 1.7rem) clamp(1rem, 3.5vw, 1.7rem);
}

.artist {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: justify;
}

#genres {
  display: flex;
  gap: 1em;
  margin-top: 1rem;
}

.genre {
  text-transform: capitalize;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
}

.logo {
  width: 20%;
  max-width: 250px;
  margin-left: 80px;
  filter: drop-shadow(0 0 0.3rem #aaa3);
}

.right-side img {
  height: 50px;
}

.particles img {
  opacity: 0.7;
  position: absolute;
  left: -138px;
  scale: 70%;
  max-width: 550px;
  /* width: 30%; */
  max-height: 550px;
}

.particle2 img {
  left: 60vw;
  transform: scale(120%) rotate(-10deg) translate(-30%, -13%);
}

.particle1 img {
  transform: rotate(90deg) translateX(-10%);
}

.particle1,
.particle2 {
  filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 0.3));
  position: absolute;
}

.music-player {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 0.9rem;
  width: clamp(265px, 27%, 550px);
  min-height: 265px;
  text-align: center;
  padding: 1em 0;
  margin: 0 auto;
  border-radius: 3rem;
  color: #222;
  margin-top: 2rem;
  box-shadow: inset 0 0 2.3rem #0002, 0 0 0.2rem #5553;
}

@supports (backdrop-filter: none) {
  .music-player {
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(5px);
    background: linear-gradient(215deg, #e0e1e498, #c9e2e1ff);
  }
}

@supports not (backdrop-filter: none) {
  .music-player {
    background: linear-gradient(215deg, #e0e1e4fe, #c9e2e1ef);
  }
}

#music-player {
  width: 30%;
}

.wave-bg {
  filter: drop-shadow(0 0 0.2rem #7776);
  z-index: -100;
}

.player-buttons {
  gap: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.curve-svg {
  position: absolute;
  height: 40%;
  top: 40%;
  transform: translateY(-50%);
  z-index: -100;
  width: 100%;
}

aside {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 0;
}

.user-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 0.4rem;
  padding-left: .7rem;
  transition: background-color .3s;
}

.user-button:hover {
  box-shadow: 0 0 .3rem #0003;
  background-color: #f2f2f2;
}

#aside-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hide-element {
  display: none !important;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes fader {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes blurinf {
  0% {
    filter: blur(0);
  }

  60% {
    filter: blur(5px);
  }

  65% {
    filter: blur(6px);
  }

  90% {
    filter: blur(0);
  }
}
